.Entry {
  padding: 20px;
}

h3 {
  font-size: large;
}

.Entry table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.Entry th, .Entry td {
  padding: 2px 50px 2px 50px;
}

textarea, button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
